        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
                      <h3 class="card-title" ><font color="black">Post recientes</font></h3>
                  </div>
                    <div class="card-block" >
                      <!--<carousel interval="5">-->
<!--Primer Slide-->
                      <div *ngFor="let placeL of placesLast; let i = index" >
                            <!--<slide active="slide.active" >-->
                              <div class="card-header card-info card-inverse" style="background:#f5f5f5;" >
                                  <a routerLink="../getplaces" (click) ="goPlace(placeL.name)" ><h3 class="card-title" style="text-align: center"><font color="black">{{placeL.name}}</font></h3></a>
                              </div>
                              <carousel class="carousel" [interval]=2500 [noWrap]=false>
                                <slide *ngFor="let img of placeL.imageplaces; let index=index" [active]="img.active">
                                  <img routerLink="../getplaces" (click) ="goPlace(placeL.name)" src="{{img.image.url}}" style="margin:auto;">
                                </slide>
                              </carousel>
                                <div routerLink="../getplaces" (click) ="goPlace(placeL.name)" class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header card-default">
                                                <h5 class="card-title"> Descripción
                                                </h5>
                                                <p>{{placeL.description}}</p>
                                            </div>
                                                </div>
                                            </div>
                                        </div>
                          <!--  </slide>-->

</div>
                        <!--</carousel>-->
                      </div>
                    </div>
                </div>
            </div>
