        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
                      <h3 class="card-title"><font color="black">Post recientes</font></h3>
                  </div>
                    <div class="card-block">
                      <carousel interval="5000">
<!--Primer Slide-->
                            <slide active="slide.active">
                              <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
                                  <h3 class="card-title" style="text-align: center"><font color="black">Cartagena de Indias</font></h3>
                              </div>
                              <carousel interval="5000">
                                  <slide active="slide.active">
                                    <img width="100%" src="assets/images/cartagena-1.jpg">
                                  </slide>
                                  <slide>
                                      <img width="100%" src="assets/images/cartagena-2.jpg">
                                  </slide>
                                  <slide>
                                      <img width="100%" src="assets/images/cartagena-3.jpg">
                                  </slide>
                                  <slide>
                                      <img width="100%" src="assets/images/cartagena-4.jpg">
                                  </slide>
                              </carousel>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header card-default">
                                                <h5 class="card-title"> Ultimos Comentarios
                                                </h5>
                                            </div>

                                            <div class="row">
                                              <div class="col-md-2">
                                                <img src="assets/images/user2.jpg" class="user-avatar" style="border: 3px solid green; display: block; margin: auto;" />
                                              </div>
                                            <div class="col-md-10">
                                                <div class="card card-default card-block">
                                                    <blockquote class="card-blockquote">
                                                    <h4 class="text-default">Kevin Mendez</h4>
                                                        <p>Es una ciudad mágica, la visité con mi familia y fue en definitiva una de nuestras mejores vacaciones juntos. Es además una ciudad muy romántica, la recomiendo para un plan en pareja. </p>
                                                        <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
                                                    </blockquote>
                                                </div>
                                            </div>
                                            </div>

                                                    <div class="row">
                                                      <div class="col-md-2">
                                                        <img src="assets/images/user1.jpg" class="user-avatar" style="border: 3px solid green; display: block; margin: auto;" />
                                                      </div>
                                                    <div class="col-md-10">
                                                        <div class="card card-default card-block">
                                                            <blockquote class="card-blockquote">
                                                            <h4 class="text-default">Juan Cuestas</h4>
                                                                <p>Es un lugar fascinante, perfecto para unas buenas vacaciones, la gastronomía, las personas, las playas, el clima. Una muy buena elección. Recomiendo la comida en el restaurante La mulata! </p>
                                                                <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
                                                            </blockquote>
                                                        </div>
                                                    </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                            </slide>
<!--Segundo Slide-->
                                <slide>
                                  <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
                                      <h3 class="card-title" style="text-align: center"><font color="black">Parque nacional del Chicamocha</font></h3>
                                  </div>
                                  <carousel interval="5000">
                                      <slide active="slide.active">
                                        <img width="100%" src="assets/images/chicamocha3.jpg">
                                      </slide>
                                      <slide>
                                          <img width="100%" src="assets/images/chicamocha2.jpg">
                                      </slide>
                                      <slide>
                                          <img width="100%" src="assets/images/chicamocha1.jpg">
                                      </slide>
                                      <slide>
                                          <img width="100%" src="assets/images/chicamocha4.jpg">
                                      </slide>
                                  </carousel>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header card-default">
                                                    <h5 class="card-title">Ultimos Comentarios
                                                    </h5>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="row">
                                                  <div class="col-md-2">
                                                    <img src="assets/images/user3.jpg" class="user-avatar" style="border: 3px solid green; display: block; margin: auto;" />
                                                  </div>
                                                <div class="col-md-10">
                                                    <div class="card card-default card-block">
                                                        <blockquote class="card-blockquote">
                                                        <h4 class="text-default">Juan Manuel Corredor</h4>
                                                            <p>El lugar es bonito, pero me pareció que la comida de los restaurantes que hay adentro es un poco costosa, pero en general es un lugar muy bonito apra visitar. </p>
                                                            <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
                                                        </blockquote>
                                                    </div>
                                                </div>
                                                </div>

                                                        <div class="row">
                                                          <div class="col-md-2">
                                                            <img src="assets/images/user4.jpg" class="user-avatar" style="border: 3px solid green; display: block; margin: auto;" />
                                                          </div>
                                                        <div class="col-md-10">
                                                            <div class="card card-default card-block">
                                                                <blockquote class="card-blockquote">
                                                                <h4 class="text-default">Luis Valderrama</h4>
                                                                    <p>Es un parque genial, hermosas vistas, restaurantes con comida muy rica, el parque cuenta con un parque acuatico que es estupendo, totalmente recomendado. </p>
                                                                    <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </slide>

<!--Tercer Slide-->
                            <slide>
                              <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
                                  <h3 class="card-title" style="text-align: center"><font color="black">Bogotá DC</font></h3>
                              </div>
                              <carousel interval="5000">
                                  <slide active="slide.active">
                                    <img width="100%" src="assets/images/bogota1.jpg">
                                  </slide>
                                  <slide>
                                      <img width="100%" src="assets/images/bogota2.jpg">
                                  </slide>
                                  <slide>
                                      <img width="100%" src="assets/images/bogota3.jpg">
                                  </slide>
                                  <slide>
                                      <img width="100%" src="assets/images/bogota4.jpg">
                                  </slide>
                              </carousel>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header card-default">
                                                <h5 class="card-title"> Ultimos Comentarios
                                                </h5>
                                            </div>
                                            <div class="row">
                                              <div class="col-md-2">
                                                <img src="assets/images/user2.jpg" class="user-avatar" style="border: 3px solid green; display: block; margin: auto;" />
                                              </div>
                                            <div class="col-md-10">
                                                <div class="card card-default card-block">
                                                    <blockquote class="card-blockquote">
                                                    <h4 class="text-default">Kevin Mendez</h4>
                                                        <p>Soy bogotano y puedo decir que es una ciudad que todos deberian conocer, es la capital de colombia, tiene zonas muy bonitas y muchos lugares interesantes como todos los museos que tiene. </p>
                                                        <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
                                                    </blockquote>
                                                </div>
                                            </div>
                                            </div>
                                                    <div class="row">
                                                      <div class="col-md-2">
                                                        <img src="assets/images/user5.jpg" class="user-avatar" style="border: 3px solid green; display: block; margin: auto;" />
                                                      </div>
                                                    <div class="col-md-10">
                                                        <div class="card card-default card-block">
                                                            <blockquote class="card-blockquote">
                                                            <h4 class="text-default">Mariana Perez</h4>
                                                                <p>Una ciudad muy bonita con muchas cosas que hacer para todos los gustos, apra estar en familia o en pareja, recomiendo mucho visitarla!</p>
                                                                <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
                                                            </blockquote>
                                                        </div>
                                                    </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                            </slide>
                            <i class="fa fa-chevron-left left carousel-control"></i>
                            <i class="fa fa-chevron-right right carousel-control"></i>
                        </carousel>
                      </div>
                    </div>
                </div>
            </div>
