        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
                      <h3 class="card-title" ><font color="black">Post recientes</font></h3>
                  </div>
                    <div class="card-block" >
                      <!--<carousel interval="5">-->
<!--Primer Slide-->
                      <div *ngFor="let placeL of placesLast; let i = index" >
                            <!--<slide active="slide.active" >-->
                              <div class="card-header card-info card-inverse" style="background:#f5f5f5;" >
                                  <a routerLink="../getplaces"><h3 class="card-title" style="text-align: center"><font color="black">{{placeL.name}}</font></h3></a>
                              </div>
                              <carousel class="mini-carousel" interval="5000">
                                <!--<div *ngFor="let img of placeL.imageplaces; let h = index" >
                                  <slide active="slide.active">
                                    <img width="100%" src="{{img.path}}">
                                  </slide>
                                </div>-->
                              </carousel>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header card-default">
                                                <h5 class="card-title"> Descripcion
                                                </h5>
                                                <p>{{placeL.description}}</p>
                                            </div>





                                                </div>
                                            </div>
                                        </div>
                          <!--  </slide>-->

</div>
                        <!--</carousel>-->
                      </div>
                    </div>
                </div>
            </div>
