
<div class="row">
    <div class="col-md-10 col-md-offset-1">

		<div class="card" align="center">
				<div class="card-block">


							<div class="jumbotron jumbotron-fluid">
<div class="animate">
    <div class="animate">
      <div class="row" style="text-align: center;">
        <img src="assets/images/wtpng.png" width="300" height="200"/>
        <h1>Actualizar Imagenes</h1>
        <br>
      </div>


<div class="input-group" >
  <div *ngFor="let pla of img; let i = index" >

          <div class="card-header card-info card-inverse" style="background:#f5f5f5;" >
              <a class="thumbnail" href="{{pla.image.url}}" data-image-id="" data-toggle="modal" data-title="This is my title" data-caption="Some lovely red flowers" >
              <img src="{{pla.image.url}}" style="margin:auto; max-width: 760px;max-height: 640px">
              <br>
              </a>
          </div>





</div>

</div>
      <!---Se Llama el componente de los post recientes-->
      </div>
      <!--<recentpost-cmp style="background:#488e4c;"></recentpost-cmp>-->
      </div>
</div>
</div>
</div>
</div>
</div>
