<div class="container">
    <h1>Posts Sitios</h1>
    <!-- NOMBRE DEL SITIO-->
    <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
        <h3 class="card-title" style="text-align: center"><font color="black">Restaurante La Muralla</font></h3>
    </div>
    <!-- IMAGEN SITIO-->
    <img src="assets/images/cartagena-1.jpg" class="avatar img-circle" />
    <!-- FECHA DE PUBLICACION-->
    <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
        <p> Publicado el 29/04/2017 </p>
    </div>
    <!-- DESCRIPCION DEL SITIO-->
    <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
        <p> El resturante La Muralla se hubica en una zona historica de Cartagena, con años de servicio y un reconocimiento a nivel local que le dan una reputación de deliciosa comida y el mejor ambiente para cenar en la ciudad </p>
    </div>
    <!-- DIRCCION-->
    <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
        <p> Dirección: Calle Falsa 123 </p>
    </div>
    <!-- TIPO DE SERVICIO-->
    <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
        <p> Servicios: Comidas (Almuerzo/Cena) </p>
    </div>
    <!-- VALORACION-->
    <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
        <p> Valoración: 4.3 </p>
    </div>
    <!-- PRECIOS-->
    <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
        <p> Precios: $50.000 en adelante </p>
    </div>

<!-- COMENTARIOS-->
  <div class="col-md-2">
    <img src="assets/images/user5.jpg" class="user-avatar" style="border: 3px solid yellow; display: block; margin: auto;" />
  </div>
  <div>
    <h1>Comentarios al respecto del sitio</h1>
  <div class="col-md-10">
    <div class="card card-default card-block">
        <blockquote class="card-blockquote">
        <h4 class="text-default">Esperanza Perez</h4>
            <p>La comida más deliciosa que probé en Cartagena la probé aquí, además es muy ameno el ambiente y la atención es igualmente ecelente, quedé fascinada </p>
            <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
        </blockquote>
    </div>
  </div>
</div>
</div>
