
    <h1>Posts Sitios</h1>
    <div class="container"  *ngFor="let Exp of Explace; let i = index" >
      <div class="container"  >
    <!-- NOMBRE DEL SITIO-->
        <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
            <h3 class="card-title" style="text-align: center"><font color="black">{{Exp.name}}</font></h3>
        </div>
        <!-- IMAGEN SITIO-->
        <img src="assets/images/cartagena-1.jpg" class="avatar img-circle" />
        <!-- FECHA DE PUBLICACION-->
        <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
            <p> {{Exp.publicationdate}} </p>
        </div>
        <!-- DESCRIPCION DEL SITIO-->
        <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
            <p> {{Exp.description}}  </p>
        </div>
        <!-- DIRCCION-->
        <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
            <p> Dirección: {{Exp.address}}</p>
        </div>
        <!-- TIPO DE SERVICIO-->
        <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
            <p> Servicios: Comidas (Almuerzo/Cena) </p>
        </div>
        <!-- VALORACION-->
        <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
            <p> Valoración: {{Exp.valoration}} </p>
        </div>
        <!-- PRECIOS-->
        <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
            <p> Precios: {{Exp.entrycost}} </p>
        </div>
      </div>
<!-- COMENTARIOS-->

  <div class="card card-default card-block">
    <h1>Comentarios al respecto del sitio</h1>

  <!--COMENTARIOS-->

  <div class="col-md-15"  *ngFor="let comment of comments; let i = index">
    <div class="card card-default card-block">
        <blockquote class="card-blockquote">
          <img style='float:left;width:80px;height:80px; margin-right:10px; border: 3px solid black;' src="assets/images/user2.jpg" />
        <h4 class="text-default">Kevin Mendez</h4>
            <p>{{comment.content}}</p>
            <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
        </blockquote>
    </div>
  </div>

  <div class="col-md-15" style="text-align: center" >
 <div class="card card-default card-block">
     <blockquote class="card-blockquote">
       <img style='float:left;width:80px;height:80px; margin-right:10px; border: 3px solid black;' src="assets/images/user2.jpg" />
     <h4 class="text-default" style="text-align: Left">Kevin Mendez</h4>
        <form role="form" (ngSubmit)="createComment()">
          <div class="form-group">
           <!--<textarea class="form-control" rows="4" required [(ngModel)]="CommentCreat.content" name="content"  placeholder="Escribe aquì tu comentario respecto al sitio..."></textarea>-->
           <textarea rows="5" class="form-control" type="text" required [(ngModel)]="CommentCreat.content" name="content"></textarea>
         </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary" onclick="window.location.reload()">Comentar</button>
          </div>
         <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
          </form>
     </blockquote>
 </div>
</div>

</div>

<br>   <!--espaciado-->
<hr>
<br>
<div class="row" style="text-align: center;">
  <a  a href="/dashboard/createpost" class="btn btn-primary">Crear un Post nuevo</a>
</div>
<br><br>


<!--Creacion del post-->

</div>
