<div class="row">
    <div class="col-md-10 col-md-offset-1">

		<div class="card" align="center">
				<div class="card-block">


							<div class="jumbotron jumbotron-fluid">
    <h1>Posts Sitios</h1>
    <div class="container"  *ngFor="let Exp of Explace; let i = index" >
      <div class="container"  >
    <!-- NOMBRE DEL SITIO-->
        <div class="card-header card-info card-inverse" style="background:#0AA1CA;">
            <h2 class="card-title" style="text-align: center; font-size: 2.2em;"><font color="black">{{Exp.name}}</font></h2>
        </div>
        <!-- IMAGEN SITIO-->
        <carousel class="carousel" [interval]=2500 [noWrap]=false>
          <slide *ngFor="let img of Exp.imageplaces; let index=index" [active]="img.active">
            <img src="{{img.image.url}}" style="margin:auto;">
          </slide>
        </carousel>
        <br>
        <br>
        <!-- FECHA DE PUBLICACION-->

        <!-- DESCRIPCION DEL SITIO-->
        <div class="card-header card-info card-inverse" style="background:#FFFFFF;">
            <p> {{Exp.description}}  </p>
        </div>
        <!-- DIRCCION-->
        <div class="card-header card-info card-inverse" style="background:#008CFF; text-align: left">
            <p > Dirección: {{Exp.address}}</p>
        </div>
        <!-- TIPO DE SERVICIO-->
        <div class="card-header card-info card-inverse" style="background:#FFFFFF; text-align: left">
            <p> Ubicación: {{Exp.ubication}} </p>
        </div>
        <!-- PRECIOS-->
        <div class="card-header card-info card-inverse" style="background:#008CFF; text-align: left">
            <p> Precios: {{Exp.entrycost}} </p>
        </div>
        <div class="card-header card-info card-inverse" style="background:#FFFFFF; text-align: left">
            <p> Tipo de lugar: {{Exp.kind}} </p>
        </div>
        <!-- VALORACION-->
        <div class="card-header card-info card-inverse" style="background:#008CFF; text-align: left">
            <p> Valoración: {{Exp.valoration}} </p>
            <star-rating-comp
            [id]="starRatingConfig.id"
            [rating]="starRatingConfig.rating"
            [step]="starRatingConfig.step"
            [showHalfStars]="starRatingConfig.showHalfStars"
            [numOfStars]="starRatingConfig.numOfStars"
            [size]="starRatingConfig.size"
            [space]="starRatingConfig.space"
            [staticColor]="starRatingConfig.staticColor"
            [disabled]="starRatingConfig.disabled"
            [hoverEnabled]="starRatingConfig.hoverEnabled"
            [starType]="starRatingConfig.starType"
            [labelText]="starRatingConfig.labelText"
            [labelPosition]="starRatingConfig.labelPosition"
            [labelVisible]="starRatingConfig.labelVisible"
            [speed]="starRatingConfig.speed"
            [direction]="starRatingConfig.direction"
            [readOnly]="starRatingConfig.readOnly"
            [getColor]="getColor"
            [getHalfStarVisible]="getHalfStarVisible"
            (onHoverRatingChange)="onHoverRatingChange($event)"
            (onClick)="onClick($event)"
            (onRatingChange)="onRatingChange($event)"
          ></star-rating-comp>
        </div>
      </div>
<!-- COMENTARIOS-->

<div class="card card-default card-block" style="background:#918a8a;">
    <h1>Comentarios al respecto del sitio</h1>

  <!--COMENTARIOS-->

  <div class="col-md-15"  *ngFor="let comment of comments">
    <div class="card card-default card-block">
        <blockquote class="card-blockquote">
          <img style='float:left;width:80px;height:80px; margin-right:10px; border: 3px solid black;' src="assets/images/user2.jpg" />
        <h4 class="text-default"  style= "text-align: left">{{comment.user_id}}</h4>
            <p>{{comment.content}}</p>
            <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
        </blockquote>
    </div>
  </div>
  </div>

  <div class="col-md-15" style="text-align: center" >
 <div class="card card-default card-block">
     <blockquote class="card-blockquote">
       <img style='float:left;width:80px;height:80px; margin-right:10px; border: 3px solid black;' src="assets/images/user2.jpg" />
     <h4 class="text-default" style="text-align: Left">Kevin Mendez</h4>
        <form role="form" (ngSubmit)="createComment()">
          <div class="form-group">
           <!--<textarea class="form-control" rows="4" required [(ngModel)]="CommentCreat.content" name="content"  placeholder="Escribe aquì tu comentario respecto al sitio..."></textarea>-->
           <textarea rows="5" class="form-control" type="text" required [(ngModel)]="CommentCreat.content" name="content"></textarea>
         </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Comentar</button>
              <!--<a routerLink="../toppost" class="btn btn-primary" >Top Lugares</a>-->
              <!--<a  onclick="document.getElementById('myform').submit()" class="btn btn-primary" (click)="updateUser" routerLink="../toppost">Submit</a>-->
          </div>
         <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
          </form>
     </blockquote>
 </div>
</div>



<br>   <!--espaciado-->
<hr>
<br>
<div class="row" style="text-align: center;">
  <!--<a  a href="/dashboard/createpost" class="btn btn-primary">Crear un Post nuevo</a>-->
  <a routerLink="../createpost" class="btn btn-primary" >Crear un Post nuevo</a>
</div>
<br><br>


<!--Creacion del post-->

</div>
</div>
</div>
</div>
</div>
</div>
