<div class="row" style="float: left; width: 100%;">
    <div style="float: left; width: 100%;">

    <div class="card" align="center" style="float: left; width: 100%;">
        <div class="card-block">


              <div class="jumbotron jumbotron-fluid" style="float: left; width: 100%;">
 <h1 >Departamentos</h1>
<div  *ngFor="let dep of departs; let i = index" style=" margin-left: 30px" >

  <div  style="background:#f5f5f5; float:left; width: 180px; height: 180px; margin: 5px">
    <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
      <a routerLink="../getdeparts" (click) ="goDepart(dep.name)"><h1 class="card-title" style="text-align: center; font-size: 1.2em"><font color="black"> {{dep.name}}</font></h1></a>
    </div>
      <div *ngFor="let img of dep.imagedeparts; let index=index">
        <img src="{{img.image.url}}" style="margin:auto; width: 50px; height: 50px;">
      </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    <h5 class="card-title"> Capital
                    </h5>
                    <p>{{dep.capital}}</p>
                </div>
                    </div>
                </div>
            </div>
  <!--<p>valoracion: {{place.valoration}}</p>-->

  </div>




</div>
<ul>
  <!--<div>{{departs}}</div>-->
  <!--<li *ngFor="let place of places">
    {{place.name}}</li>-->
</ul>
</div>
</div>
</div>
</div>
</div>
