
<div class="row">
    <div class="col-md-10 col-md-offset-1">

		<div class="card" align="center">
				<div class="card-block">


							<div class="jumbotron jumbotron-fluid">
<div class="animate">
    <div class="animate">
      <div class="row" style="text-align: center;">
        <img src="assets/images/wtpng.png" width="300" height="200"/>
        <h1>Wiki Turismo Colombia</h1>
        <br>
      </div>
      <div class="row" style="text-align: center;">
        <!--<a [routerLink]="['toppost']" class="btn btn-primary">Top Lugares</a>-->
        <!--<a href="/dashboard/toppost" class="btn btn-primary">Top Lugares</a>-->

            <!--<a [routerLink]="[{ path: 'recentpost/recentpost', component: recentpost }]" style="background:#ffe500;"  class="btn btn-primary" >-->
              <a routerLink="../toppost" class="btn btn-primary" >Top Lugares</a>
                <!--<span>&nbsp; Top lugares</span>-->
            <!--</a>-->

            <!--<a [routerLink]="[{ path: 'recentpost/recentpost', component: recentpost }]" style="background:#ffe500;"  class="btn btn-primary" >-->
              <a routerLink="../randompost" class="btn btn-primary" >Post Aleatorios</a>
                <!--<span>&nbsp; Top lugares</span>-->
            <!--</a>-->

        <!--<a href="/dashboard/randompost" class="btn btn-primary">Post Aleatorios</a>-->
        <br><br> <!--Espaciado-->
      </div>
<!--Barra de busqueda-->
<form role="form" (ngSubmit)="search()">
  <div class="row">
      <div class="col-md-2" style="margin-left: 20px;">
          <div class="form-group">
            <select class="form-control" required [(ngModel)]="paramfilter" name="filter">
                  <option value="Filtros">Sin filtros</option>
                  <option value="Departamentos">Departamentos</option>
                  <option value="Ciudades">Ciudades</option>
                  <option value="Lugares">Lugares</option>
              </select>
           </div>
      </div>
          <div class="col-md-8">
            <div class="form-group">
              <input class="form-control" type="text" required [(ngModel)]="param" placeholder="Buscar..." name="searchKey">
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
            	<span class="input-group-btn">
            			<button  class="btn btn-primary" type="submit">   Buscar   </button>
            	</span>
            </div>
        </div>
  </div>
</form>
      <!---Se Llama el componente de los post recientes-->
      </div>
      <recentpost-cmp style="background:#488e4c;"></recentpost-cmp>
      </div>
</div>
</div>
</div>
</div>
</div>
