<div class="animate">
    <div class="animate">
      <div class="row" style="text-align: center;">
        <img src="assets/images/WT.png" class="user-avatar" />
      </div>
      <div class="row" style="text-align: center;">
        <a href="Javascript:void(0);" class="btn btn-primary" >Top Lugares</a>
        <a href="Javascript:void(0);" class="btn btn-primary">Top Ciudades</a>

      </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
                        <h3 class="card-title"><font color="black">Cartagena de Indias</font></h3>
                    </div>
                    <div class="card-block">
                        <carousel interval="5000">
                            <slide active="slide.active">
                                <img width="100%" src="assets/images/cartagena-1.jpg">
                            </slide>
                            <slide>
                                <img width="100%" src="assets/images/cartagena-2.jpg">
                            </slide>
                            <slide>
                                <img width="100%" src="assets/images/cartagena-3.jpg">
                            </slide>
                            <slide>
                                <img width="100%" src="assets/images/cartagena-4.jpg">
                            </slide>
                            <i class="fa fa-chevron-left left carousel-control"></i>
                            <i class="fa fa-chevron-right right carousel-control"></i>
                        </carousel>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-default">
                        <h5 class="card-title">Comentarios
                        </h5>
                    </div>

                    <div class="row">
                      <div class="col-md-2">
                        <img src="assets/images/user2.jpg" class="user-avatar" style="border: 3px solid green; display: block; margin: auto;" />
                      </div>
                    <div class="col-md-10">
                        <div class="card card-default card-block">
                            <blockquote class="card-blockquote">
                            <h4 class="text-default">Kevin Mendez</h4>
                                <p>Es una ciudad mágica, la visité con mi familia y fue en definitiva una de nuestras mejores vacaciones juntos. Es además una ciudad muy romántica, la recomiendo para un plan en pareja. </p>
                                <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
                            </blockquote>
                        </div>
                    </div>
                    </div>

                            <div class="row">
                              <div class="col-md-2">
                                <img src="assets/images/user1.jpg" class="user-avatar" style="border: 3px solid green; display: block; margin: auto;" />
                              </div>
                            <div class="col-md-10">
                                <div class="card card-default card-block">
                                    <blockquote class="card-blockquote">
                                    <h4 class="text-default">Juan Cuestas</h4>
                                        <p>Es un lugar fascinante, perfecto para unas buenas vacaciones, la gastronomía, las personas, las playas, el clima. Una muy buena elección. Recomiendo la comida en el restaurante La mulata! </p>
                                        <!--<a href="Javascript:void(0);" class="btn btn-primary">Go somewhere</a>-->
                                    </blockquote>
                                </div>
                            </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
