
<div class="row">
    <div class="col-md-10 col-md-offset-1">

		<div class="card" align="center">
				<div class="card-block">


							<div class="jumbotron jumbotron-fluid">
<div class="animate">
    <div class="animate">
      <div class="row" style="text-align: center;">
        <img src="assets/images/wtpng.png" width="300" height="200"/>
        <h1>Wiki Turismo Colombia</h1>
        <br>
      </div>
      <div class="row" style="text-align: center;">
        <!--<a [routerLink]="['toppost']" class="btn btn-primary">Top Lugares</a>-->
        <a href="/dashboard/toppost" class="btn btn-primary">Top Lugares</a>
        <a href="/dashboard/randompost" class="btn btn-primary">Post Aleatorios</a>
        <br><br> <!--Espaciado-->
      </div>
<!--Barra de busqueda-->
      <div class="input-group" >
          <div class="input-group-btn search-panel" >
		          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		              <span id="search_concept">Filtro</span>
		          </button>
		          <ul class="dropdown-menu" role="menu">
			             <li><a href="#id"><i class="fa fa-angle-double-right" style="background:#488e4c;" ></i>Lugares</a></li>
			             <li><a href="#name"><i class="fa fa-angle-double-right" style="background:#488e4c;" ></i> Ciudades</a></li>
			             <li><a href="#description"><i class="fa fa-angle-double-right"style="background:#488e4c;" ></i>Establecimientos</a></li>
		          </ul>
           </div>
	<input type="hidden" name="search_param" value="name" id="search_param">
	<input type="text" class="form-control" name="q" placeholder="Buscar..." id="search_key" value="">
	<span class="input-group-btn">
			<button class="btn btn-info" type="submit">  Buscar  </button>
	</span>
</div>
      <!---Se Llama el componente de los post recientes-->
      </div>
      <recentpost-cmp style="background:#488e4c;"></recentpost-cmp>
      </div>
</div>
</div>
</div>
</div>
</div>
