<div class="container"   *ngFor="let usr of user; let i = index">
    <h1>Información Personal</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="assets/images/user2.jpg" class="avatar img-circle" />
          <!--<img src="//placehold.it/100" class="avatar img-circle" alt="avatar">-->
          <h6><br>Subir una foto diferente...</h6>

          <input type="file" class="form-control">

          <h6><br><br><br><br>
            <br><br><br><br>
            <br><br><br><br>{{usr.created_at}}</h6>
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <!--<div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>-->
        <h3>  Información Personal</h3>

        <form class="form-horizontal" role="form" (ngSubmit)="updateUser()">
          <div class="form-group">
            <label class="col-lg-3 control-label">Nombre de Usuario: {{usr.name}}</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value={{usr.name}}  required [(ngModel)]="userCreat.name" name="name"  #name="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Tipo de usuario:</label>
            <div class="col-lg-8">
              <div class="input-group-btn search-panel">
                  <select class="form-control"   required [(ngModel)]="userCreat.kind" name="kind"  id="sel1">
                  	<option>{{usr.kind}}</option>
                    <option>Dueño de Lugar</option>
                    <option>Turista</option>
                    <option>Residente</option>
                  </select>
               </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Ubicación: {{usr.ubication}} </label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value={{usr.ubication}} required [(ngModel)]="userCreat.ubication" name="ubication">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Correo Electronico: {{usr.mail}}</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value={{usr.mail}} [(ngModel)]="userCreat.mail"  name="mail" >
            </div>
          </div>
          <!--<div class="form-group">
            <label class="col-md-3 control-label">Nombre de Usuario:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="mdbelloc">
            </div>
          </div>-->
          <div class="form-group">
            <label class="col-md-3 control-label">Contraseña:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirmar Contraseña:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Mis Publicaciones">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <!--<input type="button" class="btn btn-primary" value="Guardar Cambios" onclick="updateUser()">-->
              <button type="submit" class="btn btn-primary" (click)="updateUser" onclick="window.location.reload()">Guardar cambios</button>
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancelar">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>