<div class="row">
    <div class="col-md-10 col-md-offset-1">

		<div class="card" align="center">
				<div class="card-block">


							<div class="jumbotron jumbotron-fluid">
    <h1>Departamentos</h1>
    <div class="container"  *ngFor="let Exp of Explace; let i = index" >
      <div class="container"  >
    <!-- NOMBRE DEL SITIO-->
        <div class="card-header card-info card-inverse" style="background:#0AA1CA;">
            <h2 class="card-title" style="text-align: center; font-size: 2.2em;"><font color="black">{{Exp.name}}</font></h2>
        </div>
        <!-- IMAGEN SITIO-->
        <carousel class="carousel" [interval]=2500 [noWrap]=false>
          <slide *ngFor="let img of Exp.imagedeparts; let index=index" [active]="img.active">
            <img src="{{img.image.url}}" style="margin:auto;">
          </slide>
        </carousel>
          <br>
          <br>

        <!-- Capital-->
        <div class="card-header card-info card-inverse" style="background:#008CFF; text-align: left">
            <p > <b>Capital:</b> {{Exp.capital}}</p>
        </div>
        <!-- Gentilicio-->
        <div class="card-header card-info card-inverse" style="background:#FFFFFF; text-align: left">
            <p> <b>Gentilicio:</b> {{Exp.demonym}} </p>
        </div>
      </div>

</div>
</div>
</div>
</div>
</div>
</div>
