<div class="row">
    <div class="col-md-10 col-md-offset-1">

		<div class="card" align="center">
				<div class="card-block">


							<div class="jumbotron jumbotron-fluid">
    <h1>Departamentos</h1>
    <div class="container"  *ngFor="let Exp of Explace; let i = index" >
      <div class="container"  >
    <!-- NOMBRE DEL SITIO-->
        <div class="card-header card-info card-inverse" style="background:#0AA1CA;">
            <h2 class="card-title" style="text-align: center; font-size: 2.2em;"><font color="black">{{Exp.name}}</font></h2>
        </div>
        <!-- IMAGEN SITIO-->
          <div *ngFor="let img of Exp.imagedeparts; let index=index">
            <img src="{{img.image.url}}" style="width:75%">
          </div>
          <br>
          <br>

        <!-- Capital-->
        <div class="card-header card-info card-inverse" style="background:#008CFF; text-align: left">
            <p > <b>Capital:</b> {{Exp.capital}}</p>
        </div>
        <!-- Gentilicio-->
        <div class="card-header card-info card-inverse" style="background:#FFFFFF; text-align: left">
            <p> <b>Gentilicio:</b> {{Exp.demonym}} </p>
        </div>
        <div class="card-header card-info card-inverse" style="background:#008CFF; width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
            <p> <b>Ultimas ciudades o pueblos agregados:</b></p>
            <div class="container"  *ngFor="let last of LastTowns; let k = index" >
              <div  style="background:#f5f5f5; display:flex; width: 180px; height: 180px; margin: 5px; flex-wrap: wrap; justify-content: center;">
                <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
                  <a routerLink="../getown" (click) ="goTown(last.id)"><h1 class="card-title" style="text-align: center; font-size: 1.2em"><font color="black"> <b>{{last.name}}</b></font></h1></a>
                </div>
                <carousel class="carousel" [interval]=2500 [noWrap]=false>
                  <slide *ngFor="let img of last.imagetowns; let index=index" [active]="img.active">
                    <a routerLink="../getown" (click) ="goTown(last.id)"><img src="{{img.image.url}}" style="margin:auto; max-width: 100px; max-height: 100px;"></a>
                  </slide>
                </carousel>
              </div>
            </div>
        </div>
      </div>

</div>
</div>
</div>
</div>
</div>
</div>
