<div class="row">
    <div class="col-md-8 col-md-offset-2">

    <div class="card" align="center">
        <div class="card-block">


              <div class="jumbotron jumbotron-fluid">
 <h1 class="container" >Pueblos o Ciudades</h1>
<div class="container"  *ngFor="let town  of topt; let i = index">


  <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
     <h1 class="card-title" style="text-align: center"><font color="black"> {{town.name}}</font></h1>
     <p>Clima: {{town.weather}}</p>

      <img width="50%" src="assets/images/cartagena-3.jpg">
  </div>




</div>
<ul>
  <!--<div>{{departs}}</div>-->
  <!--<li *ngFor="let place of places">
    {{place.name}}</li>-->
</ul>
</div>
</div>
</div>
</div>
</div>
