<div class="row">
    <div class="col-md-8 col-md-offset-2">

    <div class="card" align="center">
        <div class="card-block">


              <div class="jumbotron jumbotron-fluid">
 <h1>Pueblos o Ciudades</h1>
<div class="container"  *ngFor="let town  of topt; let i = index">


  <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
    <a routerLink="../getown" (click) ="goTown(town.name)"><h1 class="card-title" style="text-align: center"><font color="black"> {{town.name}}</font></h1></a>
  </div>
  <carousel class="carousel" [interval]=2500 [noWrap]=false>
    <slide *ngFor="let img of town.imagetowns; let index=index" [active]="img.active">
      <img src="{{img.image.url}}" style="margin:auto;">
    </slide>
  </carousel>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    <h5 class="card-title"> Clima
                    </h5>
                    <p>{{town.weather}}</p>
                </div>
                    </div>
                </div>
            </div>




</div>
<ul>
  <!--<div>{{departs}}</div>-->
  <!--<li *ngFor="let place of places">
    {{place.name}}</li>-->
</ul>
</div>
</div>
</div>
</div>
</div>
