<div class="row">
    <div class="col-md-8 col-md-offset-2">

		<div class="card" align="center">
				<div class="card-block">


							<div class="jumbotron jumbotron-fluid">
 <h1 class="container" >Top Post</h1>
<div class="container"  *ngFor="let place of places; let i = index">


  <div class="card-header card-info card-inverse" style="background:#f5f5f5;">
     <a routerLink="../getplaces" (click) ="goPlace(place.id)"><h3 class="card-title" style="text-align: center"><font color="black"> <b>{{place.name}}</b></font></h3></a>
  </div>
  <carousel class="carousel" [interval]=2500 [noWrap]=false>
     <slide *ngFor="let img of place.imageplaces; let index=index" [active]="img.active">
       <a routerLink="../getplaces" (click) ="goPlace(place.id)"><img src="{{img.image.url}}" style="margin:auto;"></a>
     </slide>
  </carousel>
  <a routerLink="../getplaces" (click) ="goPlace(place.id)">
    <div class="row">
      <div class="col-md-12">
          <div class="card">
                  <div class="card-header card-default">
                      <h5 class="card-title"> Valoración
                      </h5>
                      <star-rating-comp
                      [id]="starRatingConfig.id"
                      [rating]="place.valoration"
                      [step]="starRatingConfig.step"
                      [showHalfStars]="starRatingConfig.showHalfStars"
                      [numOfStars]="starRatingConfig.numOfStars"
                      [size]="starRatingConfig.size"
                      [space]="starRatingConfig.space"
                      [staticColor]="starRatingConfig.staticColor"
                      [disabled]="starRatingConfig.disabled"
                      [hoverEnabled]="starRatingConfig.hoverEnabled"
                      [starType]="starRatingConfig.starType"
                      [labelText]="place.valoration"
                      [labelPosition]="starRatingConfig.labelPosition"
                      [labelVisible]="starRatingConfig.labelVisible"
                      [speed]="starRatingConfig.speed"
                      [direction]="starRatingConfig.direction"
                      [readOnly]="starRatingConfig.readOnly"
                      [getColor]="getColor"
                      [getHalfStarVisible]="getHalfStarVisible"
                    ></star-rating-comp>
                  </div>
                    <div class="card-header card-default">
                        <h5 class="card-title"> Descripción
                        </h5>
                        <p>{{place.description}}</p>
                    </div>
                  </div>
              </div>
          </div>
        </a>
    <br>
    <br>





</div>
<ul>
  <!--<div>{{departs}}</div>-->
  <!--<li *ngFor="let place of places">
  	{{place.name}}</li>-->
</ul>
</div>
</div>
</div>
</div>
</div>
