<div class="container">
	<div class="row">

	    <div class="col-md-8 col-md-offset-2">

    		<h1>Crear post nuevo</h1>

    		<form action="" method="POST">

    		    <!--<div class="form-group has-error">
    		        <label for="slug">Slug <span class="require">*</span> <small>(This field use in url path.)</small></label>
    		        <input type="text" class="form-control" name="slug" />
    		        <span class="help-block">Field not entered!</span>
    		    </div>-->

    		    <div class="form-group">
    		        <label for="title">Titulo <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="title" />
    		    </div>

            <div>
              <label for="description">Agregar una imagen del lugar <span class="require">*</span></label>
              <input type="file" class="form-control">
              <br>
            </div>
            <!--Segundo formulario-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="name">Nombre del lugar <span class="require">*</span></label>
                        <input id="nombre del lugar" name="nombre del lugar" type="text" placeholder="Nombre del lugar" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="time">Rating </label>
                        <select id="Rating" name="Rating" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="name">Costo de entrada </label>
                        <input id="Costo" name="Costo" type="text" placeholder="Costo del lugar" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="time">Tipo de lugar <span class="require">*</span></label>
                        <select id="tipo de lugar" name="tipo de lugar" class="form-control">
                            <option value="Bar">Bar</option>
                            <option value="Parque">Cine</option>
                            <option value="Restaurante">Hotel</option>
                            <option value="Parque">Parque</option>
                            <option value="Restaurante">Restaurante</option>
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="date">Departamento <span class="require">*</span></label>
                        <input id="departamento" name="departamento" type="text" placeholder="Departamento" class="form-control input-md">
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="date">Ciudad <span class="require">*</span></label>
                        <input id="ciudad" name="ciudad" type="text" placeholder="Ciudad" class="form-control input-md">
                    </div>
                </div>

                <!-- Text input-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="date">Barrio <span class="require">*</span></label>
                        <input id="barrio" name="barrio" type="text" placeholder="Barrio" class="form-control input-md">
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="date">Dirección <span class="require">*</span></label>
                        <input id="direccion" name="direccion" type="text" placeholder="Dirección" class="form-control input-md">
                    </div>
                </div>

                <!-- Button -->
                <!--<div class="col-md-12">
                    <div class="form-group">
                        <button id="singlebutton" name="singlebutton" class="btn btn-default">Make An Appointment</button>
                    </div>
                </div>-->
            </div>


    		    <div class="form-group">
    		        <label for="description">Descripción</label>
    		        <textarea rows="5" class="form-control" name="description" ></textarea>
    		    </div>

    		    <div class="form-group">
    		        <p><span class="require">*</span> - Campos requeridos</p>
    		    </div>

    		    <div class="form-group">
    		        <button type="submit" class="btn btn-primary">Crear</button>
    		        <button class="btn btn-default">Cancelar</button>
    		    </div>

    		</form>
		</div>

	</div>
</div>
